.giao-dien-dkhp {
  body {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }

  h2, h3, h4, h5, h6 {
    line-height: 1.3em;
  }

  p {
    margin: 0 0 1em;
  }

  em {
    padding: 0 3px 0 0;
  }

  strong {
    font-weight: 600;
  }

  quote, code {
    margin: .5em 0;
  }

  .summary {
    margin-bottom: 15px;
    font-weight: 300;
    font-size: 22px;
    line-height: 1.4em;
  }

  .descriptor {
    margin-bottom: 4px;
    text-transform: uppercase;
    letter-spacing: .04em;
    font-size: 12px;
    line-height: 1.5em;
  }

  .caption {
    margin-top: 0;
    margin-bottom: 2em;
    color: #848484;
    letter-spacing: .01em;
    font-style: italic;
    font-size: 13px;
  }

  a, a:hover {
    text-decoration: none;
  }

  .more-link, a.more-link, .page-search .node-readmore a {
    display: inline-block;
    clear: both;
    line-height: 1.4em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: .02em;
    font-weight: 600;
    font-size: 12px;
  }

  .more-link a:hover, a.more-link:hover, .page-search .node-readmore a:hover {
    color: #000;
    text-decoration: none;
  }

  .more-link a:after, a.more-link:after, .page-search .node-readmore a:after {
    content: " »";
  }

  h2 a:hover, h3 a:hover {
    text-decoration: none;
  }

  ul.inline, ul.links.inline, ul.links.inline li {
    margin-left: 0;
    padding-left: 0;
  }

  tr.even, tr.odd {
    border-bottom: 1px solid #ddd;
    background-color: transparent;
  }

  th, td {
    padding: .5em;
    border: 1px solid #ddd;
  }

  th, td.active {
    background-color: #f5f5f5;
  }

  th {
    vertical-align: bottom;
  }

  td {
    vertical-align: top;
  }

  .form-item label {
    display: block;
    font-weight: 700;
  }

  .views-exposed-form .views-exposed-widget .form-submit {
    margin-top: 27px;
  }

  .sidebar .views-exposed-form .views-exposed-widget .form-submit {
    margin-top: 0.5em;
  }

  .views-exposed-form .views-exposed-widget {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 100%;
  }

  input, select, .chzn-container {
    max-width: 100%;
  }

  .form-type-checkbox label {
    display: inline-block;
    margin-left: 8px;
  }

  input[type="checkbox"] {
    margin: 0;
  }

  input.form-submit {
    height: 2.5em;
    border: 1px solid #d5d5d5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    background-image: -webkit-linear-gradient(top, white 0%, #e6e6e6 100%);
    background-image: -ms-linear-gradient(top, white 0%, #e6e6e6 100%);
    background-image: -moz-linear-gradient(top, white 0%, #e6e6e6 100%);
    background-image: -o-linear-gradient(top, white 0%, #e6e6e6 100%);
    background-image: webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(1, #e6e6e6));
    background-image: linear-gradient(to bottom, #ffffff 0%, #e6e6e6 100%);
  }

  input.form-submit:hover, input.form-submit:focus {
    background-image: -webkit-linear-gradient(top, whitesmoke 0%, #e6e6e6 100%);
    background-image: -ms-linear-gradient(top, whitesmoke 0%, #e6e6e6 100%);
    background-image: -moz-linear-gradient(top, whitesmoke 0%, #e6e6e6 100%);
    background-image: -o-linear-gradient(top, whitesmoke 0%, #e6e6e6 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, whitesmoke), color-stop(1, #e6e6e6));
    background-image: linear-gradient(to bottom, #f5f5f5 0%, #e6e6e6 100%);
  }

  input.form-submit:focus {
    border: 1px dotted #333;
  }

  input.btn-search {
    width: 26px;
    height: 26px;
    border: 0 none;
    background: none repeat scroll 0 0 transparent;
  }

  input.btn-search:hover {
    opacity: .6;
    filter: alpha(opacity=60);
    background: none repeat scroll 0 0 transparent;
  }

  input.placeholder, textarea.placeholder {
    color: #aaa;
  }

  .element-invisible {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
  }

  .element-invisible.element-focusable:active, .element-invisible.element-focusable:focus {
    position: static !important;
    clip: auto;
    overflow: visible;
    height: auto;
    padding: 0 1em;
  }

  hr {
    clear: both;
  }

  .border-none {
    border: none !important;
  }

  .box-shadow-none {
    box-shadow: none !important;
  }

  .header {
    margin: 25px 0 30px;
  }

  .header-section {
    display: table;
  }

  .header-content {
    clear: both;
  }

  .nav-search {
    float: right;
    margin: -65px -20px 0 0;
    padding: 0;
    min-height: 1px;
  }

  .nav-search .search-form, #header-search .search-form {
    margin: 0;
    padding: 0;
  }

  .nav-search .form-item, #header-search .form-item {
    margin: 0;
  }

  #block-search-form {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  #block-search-form .search-query {
    padding-right: 38px;
    width: 130px;
  }

  #block-search-form .btn-search {
    position: absolute;
    top: 1px;
    right: 10px;
  }

  #block-search-form input.btn-search:hover {
    opacity: .6;
    filter: alpha(opacity=60);
  }

  #block-search-form form {
    margin: 0;
  }

  .header .site-logo {
    display: table-cell;
    vertical-align: middle;
  }

  .header .site-logo img {
    max-height: 100px;
    max-width: none;
  }

  .site-name, #site-slogan {
    color: inherit;
    font-family: inherit;
    line-height: 1;
    text-rendering: optimizelegibility;
  }

  .site-name {
    font-weight: 700;
    font-size: 44px;
  }

  #site-slogan {
    margin-top: .3em;
    font-size: 24px;
    line-height: 1.1em;
  }

  .site-name a, .site-name a:hover {
    color: #333;
    text-decoration: none;
  }

  .site-name a:hover {
    color: #000;
  }

  #name-and-slogan {
    display: table-cell;
    padding: 20px 0 20px 10px;
    vertical-align: middle;
    width: 100%;
  }

  .site-login {
    text-align: right;
  }

  .site-main-menu {
    clear: both;
  }

  .site-main-menu ul li, .site-main-menu ul li.leaf, .site-main-menu ul li.expanded, .site-main-menu ul li.collapsed {
    list-style: none;
    list-style-image: none;
  }

  .site-main-menu ul.menu {
    margin: 0;
  }

  .site-main-menu ul.menu li {
    margin: 0;
    padding: 0;
  }

  nav h2 {
    position: absolute;
    left: -10000px;
  }

  .admin-shortcuts {
    display: block;
    padding: 10px;
    background: #eee;
    font-size: 12px;
  }

  .admin-shortcuts ul.menu li, .admin-shortcuts ul.menu li.leaf, .admin-shortcuts ul.menu li.expanded, .admin-shortcuts ul.menu li.collapsed {
    list-style: none;
    list-style-image: none;
  }

  .admin-shortcuts ul.menu {
    margin: 0;
  }

  .admin-shortcuts ul.menu li {
    display: inline-block;
    position: relative;
  }

  .admin-shortcuts ul.menu li li {
    display: block;
  }

  .admin-shortcuts ul.menu li a {
    background: none;
  }

  .admin-shortcuts ul.menu li ul {
    display: none;
  }

  .admin-shortcuts ul.menu li:hover > ul {
    display: block;
    background: #fff;
    border: 1px solid #D4D4D4;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    position: absolute;
    width: 200px;
  }

  .admin-shortcuts ul.menu li li:hover > ul {
    position: absolute;
    top: 5px;
    left: 190px;
  }

  #admin-menu li {
    line-height: normal;
  }

  .sidebar {
    margin-bottom: 1.2em;
  }

  .sidebar .nav {
    margin-left: 1.2em;
  }

  .site-footer {
    margin-top: 40px;
    margin-bottom: 10px;
  }

  .site-footer h2 {
    font-size: 20px;
    line-height: 1.5em;
  }

  .main, .content-head, .mc-content {
    margin-bottom: 1.2em;
  }

  .node .submitted {
    margin-bottom: 1em;
  }

  .views-row {
    clear: both;
    margin-bottom: 1em;
  }

  .views-row.views-row-last, .views-row h2, .field-collection-view {
    border-bottom: 0;
  }

  .main .block {
    margin-bottom: 30px;
  }

  .main .block.block-no-bottom-margin {
    margin-bottom: 0;
  }

  .main #block-system-main {
    margin-bottom: 0;
  }

  .callout, .bracket, .topline {
    clear: both;
    margin-top: 15px;
    padding: 15px 0;
    width: 30%;
    border-left: 0 none;
  }

  .topline, .bracket {
    border-top: 1px solid #eee;
  }

  .bracket {
    border-bottom: 1px solid #eee;
  }

  .callout {
    padding: 15px;
    width: 27.25%;
    border: 1px solid #eee;
  }

  .pullquote, .pullquote-large, blockquote > p:first-child {
    padding-left: 10px;
    text-indent: -7px;
    line-height: 1.5em;
  }

  .pullquote {
    letter-spacing: .02em;
    font-size: 14px;
  }

  .pullquote-large {
    font-size: 20px;
  }

  .credits {
    margin-top: .5em;
    margin-bottom: .5em;
    letter-spacing: .05em;
    font-size: 12px;
  }

  .postcard-left, .postcard-left-wrap, .postcard-right, .postcard-right-wrap {
    clear: both;
    margin-bottom: 15px;
  }

  .postcard-left > div, .postcard-right > div {
    display: table-cell;
  }

  .postcard-left-wrap > div:first-child, .postcard-left > div:first-child {
    float: left;
  }

  .postcard-right-wrap > div:first-child, .postcard-right > div:first-child {
    float: right;
  }

  .postcard-left > div:first-child img, .postcard-left-wrap > div:first-child img, .postcard-right > div:first-child img, .postcard-right-wrap > div:first-child img {
    margin-bottom: 15px;
  }

  .postcard-left > div:first-child img, .postcard-left-wrap > div:first-child img {
    margin-right: 15px;
  }

  .postcard-right > div:first-child img, .postcard-right-wrap > div:first-child img {
    margin-left: 15px;
  }

  .postcard-left h2, .postcard-left-wrap h2, .postcard-right h2, .postcard-right-wrap h2 {
    margin-top: 0;
  }

  img, a img {
    outline: none;
    border: none;
  }

  .main .border-hairline img {
    border: 1px solid #d8d8d8;
  }

  .main .border-shadow img {
    -webkit-box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.08);
  }

  .main .border-underline img {
    margin-bottom: 5px;
    padding: 0 0 2px;
    border-bottom: 4px solid #e2e2e2;
    background-color: transparent;
  }

  .main .border-none img {
    border: 0 !important;
  }

  .main .border-bottom img {
    border-bottom: 1px solid #d3d3d3;
  }

  .main .border-simple-nowidth img, .main .border-simple img {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 6px;
    background-color: #e2e2e2;
  }

  .main .border-simple img {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .main .border-simple a:hover img {
    background-color: #bbb;
  }

  .main .border-hairline a:hover img {
    border: 1px solid #373737;
  }

  iframe {
    max-width: 100%;
  }

  .video-player {
    height: 0;
    margin-bottom: 1em;
    overflow: hidden;
    padding-bottom: 67.5%;
    padding-top: 1.5625em;
    position: relative;
  }

  .video-player.widescreen {
    padding-bottom: 57.25%;
  }

  .video-player.vimeo {
    padding-top: 0;
  }

  .video-player iframe, .video-player object, .video-player embed, .video-player video {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .views-row-lines .views-row {
    border-bottom: 1px solid #F0F0F0;
    margin-bottom: 1em;
    padding-bottom: 1em;
    overflow: auto;
  }

  .views-row-lines .views-row-1 {
    border-top: 1px solid #F0F0F0;
    padding-top: 1em;
  }

  .spacer {
    margin-top: 30px;
  }

  .float-left {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
  }

  .float-right {
    float: right;
    margin-left: 15px;
    margin-bottom: 15px;
  }

  .float-none {
    float: none;
  }

  .clear-none {
    clear: none;
  }

  .clear-left-margin {
    margin-left: 0 !important;
    padding-right: 20px;
  }

  .clear-right {
    clear: right;
  }

  .clear-left {
    clear: left;
  }

  .clear-both {
    clear: both;
  }

  .visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
    z-index: -1000;
  }

  .span-full {
    width: 100%;
  }

  .block.alert {
    margin-right: -2px;
    padding-right: 0;
    padding-left: 0;
  }

  .block.alert > * {
    padding-right: 10px;
    padding-left: 10px;
  }

  .field-collection-container {
    margin-bottom: 0;
    border-bottom: 0;
  }

  .field-collection-view {
    margin: 0;
    padding: 0;
  }

  .field-collection-container .field-items .field-item {
    margin: 0;
  }

  html.js fieldset.collapsed {
    height: auto;
  }

  legend {
    margin-bottom: 1em;
    line-height: 1.5em;
  }

  .field .field-label {
    font-weight: 600;
  }

  .page-node .content-body .field {
    margin-bottom: 1em;
  }

  .page-node .content-body .field-type-field-collection {
    margin-bottom: 0;
  }

  #admin-menu {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
  }

  .views_slideshow_cycle_main {
    position: relative;
    float: left;
    width: 100%;
  }

  .views_slideshow_cycle_main .views-slideshow-cycle-main-frame {
    width: 100% !important;
    height: auto;
  }

  .views_slideshow_cycle_main .views-slideshow-cycle-main-frame-row {
    width: 100% !important;
    height: auto;
  }

  .views_slideshow_cycle_main .field-content {
    max-width: 100%;
    width: 100%;
  }

  .views_slideshow_cycle_main .field-content img {
    margin: 0;
    padding: 0;
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  ul.primary {
    margin: 1.5em 0 .2em;
  }

  .vertical-tabs .summary {
    font-size: 12px;
  }

  @media (max-width: 480px) {
    .content-col2 [class*="span"] {
      margin-left: 0;
      width: 100%;
    }

    .header #logo {
      display: block;
      margin: 0;
      text-align: center;
    }

    .header-section {
      display: block;
    }

    .site-name, .site-slogan, .site-login {
      text-align: center;
    }

    #name-and-slogan {
      display: block;
    }
  }

  @media (min-width: 481px) and (max-width: 767px) {
    .main-top .block[class*="span"], .main-upper .block[class*="span"], .main-lower .block[class*="span"], .main-bottom .block[class*="span"], .content-top .block[class*="span"], .content-upper .block[class*="span"], .content-body .block[class*="span"], .content-lower .block[class*="span"], .content-bottom .block[class*="span"], .content-row2 .span6, .content-col2.row-fluid .span6, .content-row3 .span4, .content-col3.row-fluid .span4, .content-row4 .span3, .content-col4.row-fluid .span3, .site-sidebar-first .block, .site-sidebar-second .block {
      display: block;
      float: left;
      margin-right: 0;
      width: 49%;
    }

    .main-top .block, .main-upper .block, .main-lower .block, .main-bottom .block, .content-top .block, .content-upper .block, .content-body .block, .content-lower .block, .content-bottom .block {
      width: 100%;
    }

    .main-top .block[class*="span"]:nth-child(odd), .main-top .block[class*="span"].clear-row, .main-upper .block[class*="span"]:nth-child(odd), .main-upper .block[class*="span"].clear-row, .main-body .block[class*="span"]:nth-child(odd), .main-body .block[class*="span"].clear-row, .main-lower .block[class*="span"]:nth-child(odd), .main-lower .block[class*="span"].clear-row, .main-bottom .block[class*="span"]:nth-child(odd), .main-bottom .block[class*="span"].clear-row, .content-top .block[class*="span"]:nth-child(odd), .content-top .block[class*="span"].clear-row, .content-upper .block[class*="span"]:nth-child(odd), .content-upper .block[class*="span"].clear-row, .content-lower .block[class*="span"]:nth-child(odd), .content-lower .block[class*="span"].clear-row, .content-bottom .block[class*="span"]:nth-child(odd), .content-bottom .block[class*="span"].clear-row, .content-row2 .span6:nth-child(odd), .content-col2.row-fluid .span6:nth-child(odd), .content-row3 .span4:nth-child(odd), .content-col3.row-fluid .span4:nth-child(odd), .content-row4 .span3:nth-child(odd), .content-col4.row-fluid .span3:nth-child(odd), .site-sidebar-first .block:nth-child(odd), .site-sidebar-second .block:nth-child(odd) {
      margin-right: 2%;
    }

    .main-top .block[class*="span"]:last-child, .main-upper .block[class*="span"]:last-child, .main-body .block[class*="span"]:last-child, .main-lower .block[class*="span"]:last-child, .main-bottom .block[class*="span"]:last-child, .content-top .block[class*="span"]:last-child, .content-upper .block[class*="span"]:last-child, .content-lower .block[class*="span"]:last-child, .content-bottom .block[class*="span"]:last-child, .content-row2 [class*="span"]:nth-child(2n), .content-row3 [class*="span"]:nth-child(2n), .content-col2.row-fluid [class*="span"]:nth-child(2n), .content-col3.row-fluid [class*="span"]:nth-child(2n), .content-row4 [class*="span"]:nth-child(2n), .content-col4.row-fluid [class*="span"]:nth-child(2n), .site-sidebar-first .block:nth-child(2n), .site-sidebar-second .block:nth-child(2n) {
      margin-right: 0;
    }

    .main-top .block.span12.clear-row, .main-upper .block.span12.clear-row, .main-lower .block.span12.clear-row, .main-bottom .block.span12.clear-row, .content-top .block.span12.clear-row, .content-upper .block.span12.clear-row, .content-body .block.span12.clear-row, .content-lower .block.span12.clear-row, .content-bottom .block.span12.clear-row {
      margin-right: 0;
      width: 100%;
    }

    .content-row2 [class*="span"]:nth-child(2n+1), .content-col2.row-fluid [class*="span"]:nth-child(2n+1), .content-row3 [class*="span"]:nth-child(2n+1), .content-col3.row-fluid [class*="span"]:nth-child(2n+1), .content-row4 [class*="span"]:nth-child(2n+1), .content-col4.row-fluid [class*="span"]:nth-child(2n+1), .site-sidebar-first .block:nth-child(2n+1), .site-sidebar-second .block:nth-child(2n+1) {
      clear: both;
      margin-left: 0;
    }

    .site-sidebar-first .block.well, .site-sidebar-second .block.well {
      width: 37%;
      width: -moz-calc(50% - 50px);
      width: -webkit-calc(50% - 50px);
      width: -o-calc(50% - 50px);
      width: calc(50% - 50px);
    }

    .site-sidebar-first .block.well:nth-child(odd), .site-sidebar-second .block.well:nth-child(odd) {
      margin-right: 20px;
    }
  }

  @media (max-width: 767px) {
    .nav-search {
      float: right;
      margin: 0;
      padding: 3px 0;
    }

    #header-search {
      position: absolute;
      right: 30px;
      margin: -15px 0 0;
      width: auto;
    }

    .btn.btn-navbar {
      float: left;
      margin-bottom: 8px;
    }

    nav ul li a {
      display: block;
    }

    .navbar-inner {
      padding: 5px 5px 0;
    }

    .content-col2 [class*="span"] {
      margin-left: 0;
      width: 100%;
    }

    .callout, .bracket, .topline {
      width: 50%;
    }

    .row-fluid .node .content .float-left {
      max-width: 50%;
      margin-right: 20px;
    }

    .row-fluid .node .content .float-right {
      max-width: 50%;
      margin-left: 20px;
    }

    .footer-content .block {
      float: left;
      margin-right: 4%;
      width: 48%;
    }

    .footer-content .block:nth-child(2n+1) {
      clear: both;
    }

    .footer-content .block:nth-child(2n) {
      margin-right: 0;
    }

    .content-first .main-content {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-orient: vertical;
      -ms-flex-direction: column;
      -webkit-flex-direction: column;
      flex-direction: column;
    }

    .content-first .mc-content {
      -webkit-box-ordinal-group: 1;
      -moz-box-ordinal-group: 1;
      -ms-flex-order: 1;
      -webkit-order: 1;
      order: 1;
    }

    .content-first .site-sidebar-first {
      -webkit-box-ordinal-group: 2;
      -moz-box-ordinal-group: 2;
      -ms-flex-order: 2;
      -webkit-order: 2;
      order: 2;
    }

    .content-first .site-sidebar-second {
      -webkit-box-ordinal-group: 3;
      -moz-box-ordinal-group: 3;
      -ms-flex-order: 3;
      -webkit-order: 3;
      order: 3;
    }
  }

  @media (min-width: 768px) {
    .navbar-inner {
      padding: 0 20px;
    }

    .region-navigation .block {
      float: left;
    }

    .region-navigation .block.pull-right {
      float: right;
    }
  }

  @media (min-width: 768px) and (max-width: 979px) {
    .btn.btn-navbar {
      float: left;
      margin-bottom: 8px;
    }

    .navbar-inner {
      padding: 0 5px;
    }

    .nav-search {
      margin-right: 0;
    }

    .content .callout, .content .bracket, .content .topline {
      width: 40%;
    }

    .footer-content .block.span2, .footer-content .block.span3 {
      float: left;
      margin-left: 0;
      margin-right: 4%;
      width: 30.6%;
    }

    .footer-content .block.span2:nth-child(3n+1), .footer-content .block.span3:nth-child(3n+1) {
      clear: both;
    }

    .footer-content .block.span2:nth-child(3n), .footer-content .block.span3:nth-child(3n) {
      margin-right: 0;
    }

    .sidebar-first .content-row3 .span4, .sidebar-first .content-col3.row-fluid .span4, .sidebar-first .content-row4 .span3, .sidebar-first .content-col4.row-fluid .span3 {
      display: block;
      float: left;
      margin-left: 0;
      margin-right: 0;
      width: 49%;
    }

    .sidebar-first .content-row3 .span4:nth-child(odd), .sidebar-first .content-col3.row-fluid .span4:nth-child(odd), .sidebar-first .content-row4 .span3:nth-child(odd), .sidebar-first .content-col4.row-fluid .span3:nth-child(odd) {
      margin-right: 2%;
    }

    .sidebar-first .content-col3.row-fluid [class*="span"]:nth-child(2n), .sidebar-first .content-row4 [class*="span"]:nth-child(2n), .sidebar-first .content-col4.row-fluid [class*="span"]:nth-child(2n) {
      margin-right: 0;
    }

    .sidebar-first .content-row2 [class*="span"]:nth-child(2n+1), .sidebar-first .content-col2.row-fluid [class*="span"]:nth-child(2n+1), .sidebar-first .content-row3 [class*="span"]:nth-child(2n+1), .sidebar-first .content-col3.row-fluid [class*="span"]:nth-child(2n+1), .sidebar-first .content-row4 [class*="span"]:nth-child(2n+1), .sidebar-first .content-col4.row-fluid [class*="span"]:nth-child(2n+1) {
      clear: both;
      margin-left: 0;
    }

    .two-sidebars .content-row3 .span4, .two-sidebars .content-col3.row-fluid .span4, .two-sidebars .content-row4 .span3, .two-sidebars .content-col4.row-fluid .span3 {
      display: block;
      float: left;
      margin-left: 0;
      margin-right: 0;
      width: 49%;
    }

    .two-sidebars .content-row3 .span4:nth-child(odd), .two-sidebars .content-col3.row-fluid .span4:nth-child(odd), .two-sidebars .content-row4 .span3:nth-child(odd), .two-sidebars .content-col4.row-fluid .span3:nth-child(odd) {
      margin-right: 2%;
    }

    .two-sidebars .content-col3.row-fluid [class*="span"]:nth-child(2n), .two-sidebars .content-row4 [class*="span"]:nth-child(2n), .two-sidebars .content-col4.row-fluid [class*="span"]:nth-child(2n) {
      margin-right: 0;
    }

    .two-sidebars .content-row2 [class*="span"]:nth-child(2n+1), .two-sidebars .content-col2.row-fluid [class*="span"]:nth-child(2n+1), .two-sidebars .content-row3 [class*="span"]:nth-child(2n+1), .two-sidebars .content-col3.row-fluid [class*="span"]:nth-child(2n+1), .two-sidebars .content-row4 [class*="span"]:nth-child(2n+1), .two-sidebars .content-col4.row-fluid [class*="span"]:nth-child(2n+1) {
      clear: both;
      margin-left: 0;
    }

    .no-sidebars .content-row3 .span4, .no-sidebars .content-col3.row-fluid .span4, .no-sidebars .content-row4 .span3, .no-sidebars .content-col4.row-fluid .span3 {
      display: block;
      float: left;
      margin-left: 0;
      margin-right: 0;
      width: 49%;
    }

    .no-sidebars .content-row3 .span4:nth-child(odd), .no-sidebars .content-col3.row-fluid .span4:nth-child(odd), .no-sidebars .content-row4 .span3:nth-child(odd), .no-sidebars .content-col4.row-fluid .span3:nth-child(odd) {
      margin-right: 2%;
    }

    .no-sidebars .content-col3.row-fluid [class*="span"]:nth-child(2n), .no-sidebars .content-row4 [class*="span"]:nth-child(2n), .no-sidebars .content-col4.row-fluid [class*="span"]:nth-child(2n) {
      margin-right: 0;
    }

    .no-sidebars .content-row2 [class*="span"]:nth-child(2n+1), .no-sidebars .content-col2.row-fluid [class*="span"]:nth-child(2n+1), .no-sidebars .content-row3 [class*="span"]:nth-child(2n+1), .no-sidebars .content-col3.row-fluid [class*="span"]:nth-child(2n+1), .no-sidebars .content-row4 [class*="span"]:nth-child(2n+1), .no-sidebars .content-col4.row-fluid [class*="span"]:nth-child(2n+1) {
      clear: both;
      margin-left: 0;
    }

    .sidebar-second .content-row2 [class*="span"]:nth-child(2n+1), .sidebar-second .content-row3 [class*="span"]:nth-child(3n+1), .sidebar-second .content-row4 [class*="span"]:nth-child(4n+1) {
      clear: both;
      margin-left: 0;
    }
  }

  @media (min-width: 980px) {
    .content-row2 [class*="span"]:nth-child(2n+1), .content-row3 [class*="span"]:nth-child(3n+1), .content-row4 [class*="span"]:nth-child(4n+1) {
      clear: both;
      margin-left: 0;
    }
  }

  @media (min-width: 980px) and (max-width: 1199px) {
    .two-sidebars .content .callout, .two-sidebars .content .bracket, .two-sidebars .content .topline {
      width: 40%;
    }
  }

  .front .title {
    display: none;
  }

  .front.show-title .title {
    display: block;
  }

  body.photobg {
    background-attachment: fixed !important;
    background-size: cover !important;
  }

  .bodybg .sidebar .region {
    padding: 10px;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.9);
  }

  .bodybg .content-wrapper {
    padding: 10px;
    background: #fff;
  }

  .borders .sidebar .region, .borders .content-wrapper {
    padding: 10px;
    border: 1px solid #d4d4d4;
  }

  .roundedcorners .sidebar .region, .roundedcorners .content-wrapper {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  .views-grid-four .views-row {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    margin-right: 1.7%;
    margin-bottom: 20px;
    width: 23.3%;
    vertical-align: top;
  }

  .views-grid-four .views-row.views-row-4, .views-grid-four .views-row.views-row-8, .views-grid-four .views-row.views-row-12, .views-grid-four .views-row.views-row-16, .views-grid-four .views-row.views-row-20, .views-grid-four .views-row.views-row-24, .views-grid-four .views-row.views-row-28 {
    margin-right: 0px;
  }

  .views-grid-four.views-grid-header-footer .view-header, .views-grid-four.views-grid-header-footer .view-content, .views-grid-four.views-grid-header-footer .view-footer {
    display: inline-block;
    vertical-align: top;
  }

  .views-grid-four.views-grid-header-footer .view-header {
    width: 23%;
    margin-right: 1%;
  }

  .views-grid-four.views-grid-header-footer .view-content {
    width: 60%;
    margin-right: 1%;
  }

  .views-grid-four.views-grid-header-footer .view-footer {
    width: 13%;
  }

  .views-grid-five .views-row {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 17.6%;
    margin-right: 2.4%;
  }

  .views-grid-five .views-row.views-row-5, .views-grid-five .views-row.views-row-10, .views-grid-five .views-row.views-row-15, .views-grid-five .views-row.views-row-20, .views-grid-five .views-row.views-row-25 {
    margin-right: 0px;
  }

  .views-grid-six .views-row {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 14.2%;
    margin-right: 2.4%;
  }

  .views-grid-six .views-row.views-row-6, .views-grid-six .views-row.views-row-12, .views-grid-six .views-row.views-row-18, .views-grid-six .views-row.views-row-24, .views-grid-six .views-row.views-row-30, .views-grid-six .views-row.views-row-36 {
    margin-right: 0px;
  }

  .views-grid-seven .views-row {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 11.9%;
    margin-right: 2.4%;
  }

  .views-grid-seven .views-row.views-row-7, .views-grid-seven .views-row.views-row-14, .views-grid-seven .views-row.views-row-21, .views-grid-seven .views-row.views-row-28 {
    margin-right: 0px;
  }

  @media (max-width: 1199px) {
    .views-grid-four .views-row {
      width: 22.8%;
      margin-right: 2.3%;
    }

    .views-grid-seven .views-row {
      width: 17.6%;
      margin-right: 2.4%;
    }

    .views-grid-seven .views-row.views-row-5, .views-grid-seven .views-row.views-row-10, .views-grid-seven .views-row.views-row-15, .views-grid-seven .views-row.views-row-20, .views-grid-seven .views-row.views-row-25 {
      margin-right: 0px;
    }
  }

  @media (max-width: 979px) {
    .views-grid-four .views-row {
      width: 48.3%;
    }

    .views-grid-four .views-row-even {
      margin-right: 0px;
    }

    .views-grid-five .views-row {
      width: 31%;
    }
  }

  @media (max-width: 979px) and (min-width: 768px) {
    .views-grid-five .views-row.views-row-3, .views-grid-five .views-row.views-row-6, .views-grid-five .views-row.views-row-9, .views-grid-five .views-row.views-row-12, .views-grid-five .views-row.views-row-15, .views-grid-five .views-row.views-row-18 {
      margin-right: 0px;
    }
  }

  @media (max-width: 767px) {
    .views-grid-five .views-row {
      width: 48%;
    }

    .views-grid-five .views-row-even {
      margin-right: 0px;
    }

    .views-grid-six .views-row {
      width: 22.6%;
    }

    .views-grid-six .views-row-even, .views-grid-six .views-row-odd {
      margin-right: 2.4%;
    }

    .views-grid-six .views-row.views-row-4, .views-grid-six .views-row.views-row-8, .views-grid-six .views-row.views-row-12, .views-grid-six .views-row.views-row-16, .views-grid-six .views-row.views-row-20, .views-grid-six .views-row.views-row-24, .views-grid-six .views-row.views-row-28 {
      margin-right: 0px;
    }

    .views-grid-four.views-grid-header-footer .view-header, .views-grid-four.views-grid-header-footer .view-content, .views-grid-four.views-grid-header-footer .view-footer {
      display: block;
      width: 100%;
      margin-right: 0;
    }
  }

  @media (max-width: 680px) {
    .views-grid-seven .views-row {
      width: 29%;
      margin-right: 2.4%;
    }

    .views-grid-seven .views-row.views-row-3, .views-grid-seven .views-row.views-row-6, .views-grid-seven .views-row.views-row-9, .views-grid-seven .views-row.views-row-12, .views-grid-seven .views-row.views-row-15, .views-grid-seven .views-row.views-row-18, .views-grid-seven .views-row.views-row-21, .views-grid-seven .views-row.views-row-24 {
      margin-right: 0;
    }
  }

  @media (max-width: 520px) {
    .views-grid-four .views-row {
      width: 100%;
      margin-right: 0;
    }
  }

  @media (max-width: 480px) {
    .views-grid-six .views-row {
      width: 31.1%;
    }

    .views-grid-six .views-row-even {
      margin-right: 2.4%;
    }

    .views-grid-six .views-row.views-row-3, .views-grid-six .views-row.views-row-6, .views-grid-six .views-row.views-row-9, .views-grid-six .views-row.views-row-12, .views-grid-six .views-row.views-row-15, .views-grid-six .views-row.views-row-18, .views-grid-six .views-row.views-row-21, .views-grid-six .views-row.views-row-24, .views-grid-six .views-row.views-row-27, .views-grid-six .views-row.views-row-30, .views-grid-six .views-row.views-row-33, .views-grid-six .views-row.views-row-36 {
      margin-right: 0px;
    }

    .views-grid-seven .views-row {
      width: 45%;
      margin-right: 2.4%;
    }

    .views-grid-seven .views-row.views-row-even {
      margin-right: 0;
    }
  }

  @media (max-width: 380px) {
    .views-grid-six .views-row {
      width: 48%;
    }

    .views-grid-six .views-row-even {
      margin-right: 0;
    }

    .views-grid-six .views-row-odd {
      margin-right: 2.4%;
    }
  }

  @media (max-width: 350px) {
    .views-grid-five .views-row {
      display: block;
      width: 100%;
      margin-right: 0;
    }
  }

  @media (max-width: 320px) {
    .views-grid-seven .views-row {
      width: 100%;
      margin-right: 0;
    }
  }

  html.js input.form-autocomplete {
    background-position: 100% 8px;
  }

  html.js input.throbbing {
    background-position: 100% -12px;
  }

  @media (min-width: 980px) {
    .site-sidebar-second .sidebar-content[class*="span"], .site-sidebar-second .sidebar-content {
      float: none;
      width: 100%;
    }
  }

  @media (min-width: 768px) {
    .site-sidebar-first .sidebar-content[class*="span"], .site-sidebar-first .sidebar-content {
      float: none;
      width: 100%;
    }
  }

  @media (min-width: 768px) and (max-width: 979px) {
    .site-sidebar-second .sidebar-content[class*="span"] {
      width: 31.4917%;
    }
  }

  .row-fluid[class*="span"] {
    min-height: 0;
  }

  [class*="span"].clear-row {
    clear: both;
  }

  [class*="span"].next-row, [class*="span"].clear-row {
    margin-left: 0;
  }

  .form-actions {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    border-top: none;
    background-color: transparent;
  }

  .navbar-inner {
    min-height: 0;
  }

  .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
    color: #fff;
  }

  select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    margin-bottom: 0;
  }

  .ie7 #header #logo, .ie8 #header #logo {
    display: block;
    float: left;
    margin: 20px 20px 0 0;
  }

  .ie7 #name-and-slogan, .ie8 #name-and-slogan {
    display: block;
  }

  .ie7 #block-search-form, .ie8 #block-search-form {
    bottom: 50px;
  }

  .ie7 #block-search-form .btn-search {
    margin-top: 10px;
  }

  .ie7 #block-search-form input, .ie8 #block-search-form input {
    max-width: none;
  }

  .ie7 .postcard-left div {
    float: left;
    width: auto;
  }

  .ie7 .postcard-right div {
    float: right;
    width: auto;
  }

  .ie7 .postcard-left:after, .ie7 .postcard-right:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }

  label.option {
    display: inline;
    font-weight: normal;
  }

  input[type="radio"], input[type="checkbox"] {
    margin: 0;
  }

  body {
    background: #E5ECF4;
    font-size: 14px;
    font-family: sans-serif, Arial, Helvetica;
  }

  .sidebar th, .sidebar td {
    border: none;
  }

  th {
    vertical-align: middle;
  }

  p {
    margin: 0;
  }

  h1 {
    color: #B94A48;
    font-size: 17px;
    font-weight: normal;
    margin: 0;
  }

  h2 {
    font-size: 16px;
    margin-top: 0;
  }

  h3 {
    font-size: 13px;
  }

  h1, h2, h3 {
    line-height: 25px;
  }

  strong {
    font-weight: bold;
  }

  #header .container {
    border-bottom: 1px solid #CACACA;
    border-left: 1px solid #CACACA;
    border-right: 1px solid #CACACA;
  }

  .header {
    margin: 0;
  }

  #block-search-form {
    margin-bottom: 10px;
  }

  #block-search-form .container-inline {
    position: relative;
    text-align: center;
    padding: 5px 0;
  }

  #block-search-form .btn-search {
    position: absolute;
    right: 10px;
    top: 6px;
  }

  #block-search-form .search-query {
  }

  .header .site-logo img {
    max-height: none;
    width: 100%;
  }

  #main-menu .container {
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    background: #115D9D;
  }

  .navbar-inner {
    border: none;
    border-radius: 0;
    background: none;
    box-shadow: none;
  }

  #main-menu .navbar-inner .container {
    border: none;
  }

  .navbar .nav > li > a {
    padding: 10px 8px;
  }

  .navbar .nav li.dropdown > .dropdown-toggle .caret {
    border-top-color: #FFF;
    border-bottom-color: #FFF;
  }

  .navbar .nav li.dropdown > a:hover .caret, .navbar .nav li.dropdown > a:focus .caret {
    border-bottom-color: #FFF;
    border-top-color: #FFF;
  }

  .navbar .nav li.dropdown.open > .dropdown-toggle .caret, .navbar .nav li.dropdown.active > .dropdown-toggle .caret, .navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
    border-bottom-color: #FFF;
    border-top-color: #FFF;
  }

  .navbar {
    margin-bottom: 0;
    float: left;
  }

  .navbar .nav > li {
    border-right: 1px solid #437AA8;
  }

  .navbar .nav > li.first:nth-child(1) {
    background: url(/sites/all/themes/uitpb_daa/images/home_2.png) no-repeat 0 4px;
    text-indent: -9999px;
    width: 40px;
    padding-left: 10px;
  }

  .navbar .nav > li.active:nth-child(1) {
    background: url(/sites/all/themes/uitpb_daa/images/home.png) no-repeat 0 4px;
    text-indent: -9999px;
    width: 40px;
    padding-left: 10px;
  }

  .navbar .nav > li.first a, .navbar .nav > li.first a:hover {
    background: none;
    border-right: none;
  }

  .navbar .nav > li > a {
    color: #EAF1F7;
    font-size: 12px;
    font-weight: bold;
    text-shadow: none;
    white-space: nowrap;
  }

  .navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    background: #1678CB;
    box-shadow: none;
    color: #EAF1F7;
  }

  .navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background: #1678CB;
    color: #EAF1F7;
  }

  .navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
    background: #1678CB;
    color: #EAF1F7;
  }

  .region-user-link {
    float: right;
  }

  ul.user-info {
    margin: 0;
  }

  ul.user-info li {
    float: left;
    margin: 0 3px;
    line-height: 20px;
    border-right: 1px solid #437aa8;
  }

  ul.user-info li.last {
    border: none;
  }

  ul.user-info li a {
    color: #EAF1F7;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 8px;
    display: block;
  }

  #sidebar-first .block-menu .content {
    padding: 0 0 3px 0;
  }

  #sidebar-first .block-menu .content ul {
    margin: 0;
    padding: 0;
  }

  #sidebar-first .block-menu .content ul li {
    background: #F8F8F8;
    border-bottom: 1px solid #ecebeb;
    padding-bottom: 0;
    padding-left: 19px;
    margin: 0;
    list-style: none;
    line-height: 30px;
  }

  #sidebar-first .block-menu .content ul li a {
    background: url(/sites/all/themes/uitpb_daa/images/a2.gif) no-repeat scroll 0 11px rgba(0, 0, 0, 0);
    color: #0088cc;
    font-size: 14px;
    font-weight: normal;
    line-height: 32px;
    padding-left: 21px;
  }

  #sidebar-first .block-menu .content ul li.last {
    border-bottom: none;
  }

  #sidebar-first .block ul.links {
    margin: 0;
    padding: 0;
  }

  #sidebar-first .block ul.links li {
    border-bottom: 1px dotted #bbbaba;
    list-style: none outside none;
    margin: 5px 0;
    padding: 5px 0;
  }

  #sidebar-first .block ul.links li a {
    color: #666;
    display: block;
    font-size: 13px;
    font-weight: bold;
    margin: 0;
    overflow: hidden;
    padding: 5px 0;
  }

  #sidebar-first .block ul li a:hover {
    color: #2776a7;
  }

  .breadcrumb {
    margin: 0;
  }

  .item-list ul li {
    margin: 0 0 5px 0;
  }

  .item-list ul.pager li {
    padding: 2px;
    border: none;
  }

  .item-list ul.pager li a {
    padding: 0;
    line-height: 16px;
    padding: 0.2em 0.5em;
  }

  .item-list ul.pager li::before {
    border: none;
    background: none;
  }

  .sidebar {
    margin-top: 10px;
  }

  .sidebar .region .block {
    background: none repeat scroll 0 0 #fdfdfd;
    border: 1px solid #ddd;
    border-radius: 4px 4px 5px 5px;
    margin-bottom: 10px;
    clear: both;
  }

  .sidebar .region-sidebar-first {
    margin-left: 10px;
  }

  .sidebar .region-sidebar-second {
    margin-right: 10px;
  }

  .sidebar .content {
    overflow: hidden;
    padding: 5px 10px;
  }

  .sidebar h2 {
    background: url(/sites/all/themes/uitpb_daa/images/bg-h.gif) repeat-x scroll left bottom #ffffff;
    border-bottom: 1px solid #e6e6e6;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #494949;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    height: 24px;
    padding: 8px 3px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
  }

  .sidebar h2 a {
    color: #B94A48;
  }

  .site-footer {
    margin: 0;
  }

  .site-footer .container {
    border: 1px solid #CACACA;
    font-size: 14px;
    margin: 0 auto 8px;
    position: relative;
    background: #FFF;
  }

  .footer-content {
    font-size: 12px;
    padding: 10px 0 0 0;
    position: relative;
  }

  .footer-content p.rtecenter {
    padding-bottom: 5px;
  }

  .copyright {
    clear: both;
  }

  #organization {
    background: url(/sites/all/themes/uitpb_daa/images/pattern-bg.png) repeat scroll 0 0 #083158;
    border-top: 1px solid #184978;
    color: #6991B7;
    margin: auto;
    padding: 8px 0;
    clear: both;
  }

  .sidebar .block th, .sidebar .block td {
    padding: 2px;
  }

  .block-visitors {
    clear: both;
    color: #6991B7;
    margin-left: 5px;
  }

  .block-visitors ul li {
    float: left;
    padding: 5px 10px;
    margin: 0;
  }

  #organization a {
    color: #6991B7;
  }

  #copyright {
    font-size: 13px;
    margin: auto;
    overflow: hidden;
    margin: 0 15px;
  }

  #copyright .f-left {
    float: left;
  }

  #copyright .f-right {
    float: right;
  }

  .block-simplenews {
    color: #FFF;
  }

  .block-simplenews input[type="text"] {
    background: none repeat scroll 0 0 #154C7A;
    border: 1px solid #154C7A;
    border-radius: 0;
    box-shadow: none;
    color: #9DBBD5;
    width: 58%;
    float: left;
    height: 20px;
    margin-right: 5px;
  }

  .block-simplenews input[type="submit"] {
    background: #E09B0F;
    border: 1px solid #E09B0F;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 0;
    height: 30px;
  }

  .block-simplenews .form-item-mail > label {
    display: none;
  }

  .block-simplenews .form-item, .form-actions {
    margin: 0;
  }

  .contact-info {
    color: #FFF;
  }

  .more-link, a.more-link {
    margin-top: 0;
  }

  .block .more-link {
    float: right;
    padding-right: 10px;
  }

  .region-sidebar-first .more-link {
    float: left;
    padding-left: 10px;
  }

  .block .more-link a {
    text-transform: none;
  }

  .footer-content .block-aggregator {
    padding-left: 15px;
  }

  .footer-content ul {
    margin: 0;
  }

  .footer-content .item-list ul li {
    margin-left: 0;
  }

  .footer-content ul li {
    list-style: none;
  }

  .footer-content ul li a {
    background: url(/sites/all/themes/uitpb_daa/images/bullet2.gif) no-repeat scroll 0 10px rgba(0, 0, 0, 0);
    font-weight: normal;
    line-height: 16px;
    margin: 0;
    padding: 5px 0 0 12px;
    color: #FFF;
  }

  .footer-content ul li a:hover {
    color: #E09B0F;
  }

  .footer-content h2 {
    margin: 0 0 6px;
    color: #FFF;
    text-transform: uppercase;
    font-size: 13px;
  }

  .top-link {
    color: #6F91B0;
    margin-bottom: 5px;
    padding-right: 10px;
    text-align: center;
  }

  .top-link a {
    color: #6F91B0;
  }

  .main, .content-head, .mc-content {
    margin-bottom: 0;
  }

  #main .container {
    border-left: 1px solid #CACACA;
    border-right: 1px solid #CACACA;
    background: #FFF;
  }

  .main .block {
    margin-bottom: 0;
  }

  .sidebar .block table td a {
    background: url(/sites/all/themes/uitpb_daa/images/bullet2.gif) no-repeat scroll 0 10px rgba(0, 0, 0, 0);
    font-weight: normal;
    line-height: 16px;
    margin: 0;
    padding: 5px 0 0 12px;
  }

  .tg {
  }

  .borders .sidebar .region table tr td {
    font-size: 14px;
    color: #666;
  }

  .tg h2 {
  }

  .tg table {
    width: 100%;
  }

  #first-time {
    display: none;
  }

  .borders .sidebar .region, .borders .content-wrapper {
    border: none;
    padding: 10px 5px 5px 5px;
  }

  .borders .sidebar .region {
    padding: 0;
  }

  .link-gxn-drl {
    padding: 0 10px;
  }

  .link-gxn-drl a {
    display: block;
    margin-top: 10px;
    line-height: 28px;
  }

  .not-front .content-wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }

  .front .block-panels-mini h2, .front #content .block-views h2 {
    border-bottom: 1px solid #e6e6e6;
    color: #0056e0;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 0 10px 7px 0;
    text-transform: uppercase;
  }

  .front .block-panels-mini h2 a {
    color: #0056e0;
  }

  #content-body .block-panels-mini, #content-body .block-views {
    background: none repeat scroll 0 0 #fdfdfd;
    border: 1px solid #dddddd;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 8px 10px;
  }

  .block-panels-mini .item-list ul {
    margin: 0 0 10px 0;
  }

  .block-panels-mini .item-list ul li, .block-views .item-list ul li {
    background: url(/sites/all/themes/uitpb_daa/images/list-style.png) no-repeat 0 4px;
    list-style: none;
    padding-left: 12px;
  }

  .block-panels-mini .item-list ul li a {
  }

  .node {
    font-size: 13px;
  }

  .node h2 {
    font-size: 13px;
  }

  .node h5, .node h4 {
    font-size: 12px;
  }

  .node .submitted {
    font-style: italic;
    color: #666;
    margin-bottom: 5px;
    font-size: 12px;
  }

  #node-1985 .field-name-field-file-dinh-kem {
    display: none;
  }

  ul.links li.node-readmore a {
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top, #fff 0%, #ddd 100%) repeat scroll 0 0;
    border-color: #ddd #bbb #999;
    border-image: none;
    border-radius: 11px;
    border-style: solid;
    border-width: 1px;
    color: #333;
    cursor: pointer;
    display: block;
    float: left;
    font: bold 12px/1.2 Arial, sans-serif;
    margin: 5px 10px 10px 0;
    outline: 0 none;
    overflow: visible;
    padding: 4px 10px 3px;
    text-decoration: none;
    text-shadow: 0 1px 1px #fff;
    vertical-align: middle;
    width: auto;
  }

  ul.highlight, ul.highlight2 {
    list-style: none;
    float: left;
    white-space: nowrap;
  }

  ul.highlight li, ul.highlight2 li {
    line-height: 2.4em;
    position: relative;
  }

  ul.highlight li .views-field-title, ul.highlight2 li .views-field-title {
    display: inline;
  }

  ul.highlight li a, ul.highlight2 li a {
    padding-left: 8px;
  }

  ul.highlight li.views-row-last, ul.highlight2 li.views-row-last {
    border-bottom: 1px dotted #DDDDDD;
  }

  ul.highlight li:before, ul.highlight2 li:before {
    background: none repeat scroll 0 0 #FDD901;
    border: 1px solid #FAA61A;
    border-radius: 3px;
    font-size: 11px;
    padding: 5px 7px 2px;
  }

  ul.highlight li:nth-child(1):before {
    content: "01";
  }

  ul.highlight li:nth-child(2):before {
    content: "02";
  }

  ul.highlight li:nth-child(3):before {
    content: "03";
  }

  ul.highlight li:nth-child(4):before {
    content: "04";
  }

  ul.highlight li:nth-child(5):before {
    content: "05";
  }

  ul.highlight li:nth-child(6):before {
    content: "06";
  }

  ul.highlight li:nth-child(7):before {
    content: "07";
  }

  ul.highlight li:nth-child(8):before {
    content: "08";
  }

  ul.highlight li:nth-child(9):before {
    content: "09";
  }

  ul.highlight li:nth-child(10):before {
    content: "10";
  }

  ul.highlight li:nth-child(11):before {
    content: "11";
  }

  ul.highlight li:nth-child(12):before {
    content: "12";
  }

  ul.highlight li:nth-child(13):before {
    content: "13";
  }

  ul.highlight li:nth-child(14):before {
    content: "14";
  }

  ul.highlight li:nth-child(15):before {
    content: "15";
  }

  ul.highlight li:before, ul.highlight2 li:before {
    background: none repeat scroll 0 0 #FDD901;
    border: 1px solid #FAA61A;
    border-radius: 3px;
    font-size: 11px;
    padding: 5px 7px 2px;
  }

  ul.highlight2 li:nth-child(1):before {
    content: "06";
  }

  ul.highlight2 li:nth-child(2):before {
    content: "07";
  }

  ul.highlight2 li:nth-child(3):before {
    content: "08";
  }

  ul.highlight2 li:nth-child(4):before {
    content: "09";
  }

  ul.highlight2 li:nth-child(5):before {
    content: "10";
  }

  ul.highlight2 li:nth-child(6):before {
    content: "11";
  }

  ul.social-list li {
    background: none;
    display: block;
    float: left;
    height: 33px;
    margin: 0 10px 0 0;
    padding: 0;
    width: 33px;
  }

  ul.social-list li a {
    background: url(/sites/all/themes/uitpb_daa/images/icon-socials.png) no-repeat;
    display: block;
    height: 33px;
    overflow: hidden;
    text-indent: -999em;
    padding: 0;
  }

  ul.social-list li.twitter a {
    background-position: 0 0;
  }

  ul.social-list li.facebook a {
    background-position: 0 -33px;
  }

  ul.social-list li.google-plus a {
    background-position: 0 -66px;
  }

  ul.social-list li.feed a {
    background-position: 0 -99px;
  }

  ul.social-list li.vimeo a {
    background-position: 0 -132px;
  }

  ul.social-list li.youtube a {
    background-position: 0 -165px;
  }

  ul.social-list li.twitter a:hover {
    background-position: -33px 0;
  }

  ul.social-list li.facebook a:hover {
    background-position: -33px -33px;
  }

  ul.social-list li.google-plus a:hover {
    background-position: -33px -66px;
  }

  ul.social-list li.feed a:hover {
    background-position: -33px -99px;
  }

  ul.social-list li.vimeo a:hover {
    background-position: -33px -132px;
  }

  ul.social-list li.youtube a:hover {
    background-position: -33px -165px;
  }

  .front-gallery table td a {
    background: none;
    padding-left: 0;
  }

  .front-gallery .item-list ul li {
    float: left;
    clear: none;
    margin: 0 5px 5px 0;
  }

  .front-gallery .item-list ul li a {
    background: none;
    padding: 0;
  }

  .front-gallery .item-list img {
    border-radius: 4px;
    border: 1px solid #CCC;
  }

  .front-gallery .item-list img:hover {
    opacity: 0.8;
  }

  .lightbox-processed > img {
    float: left;
    border: 5px solid #F3F3F3;
    box-shadow: 1px 1px 2px #666666;
    margin: 5px;
  }

  .lightbox-processed > img:hover {
    opacity: 0.6;
    transition: all 0.2s ease 0s;
  }

  label, input, button, select, textarea {
    font-size: 13px;
  }

  input, button, select, textarea {
    font-family: sans-serif, Arial, Helvetica;
  }

  form {
    margin: 0;
  }

  .vertical-tabs .form-type-textfield input {
    min-height: 30px;
  }

  .container-inline-date .date-padding {
    padding: 0;
  }

  .form-item, .form-actions {
    margin: 5px 0;
  }

  input.form-submit {
    margin-right: 5px;
  }

  .item-list ul {
    margin: 5px;
    list-style: none;
  }

  legend {
    font-size: 17px;
  }

  .ctdt legend {
    font-size: 15px;
  }

  .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
    color: #333;
  }

  .dropdown-menu > .active > a, .dropdown-menu > .active > a:focus {
    background: none;
  }

  #user-login-form #edit-name, #user-login #edit-name {
    background: url(/sites/all/themes/uitpb_daa/images/login.png) no-repeat scroll 0 -3px rgba(0, 0, 0, 0);
    padding-left: 24px;
    max-width: 84%;
  }

  #user-login-form #edit-pass, #user-login #edit-pass {
    background: url(/sites/all/themes/uitpb_daa/images/login.png) no-repeat scroll 0 -79px rgba(0, 0, 0, 0);
    padding-left: 24px;
    max-width: 84%;
  }

  @media (min-width: 1200px) {
    .row {
      margin-left: -10px;
    }

    [class*="span"] {
      margin-left: 10px;
    }

    .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
      width: 1190px;
    }

    .span12 {
      width: 1190px;
    }

    .span11 {
      width: 1090px;
    }

    .span10 {
      width: 990px;
    }

    .span9 {
      width: 890px;
    }

    .span8 {
      width: 790px;
    }

    .span7 {
      width: 690px;
    }

    .span6 {
      width: 590px;
    }

    .span5 {
      width: 490px;
    }

    .span4 {
      width: 390px;
    }

    .span3 {
      width: 290px;
    }

    .span2 {
      width: 190px;
    }

    .span1 {
      width: 90px;
    }

    .front .content-wrapper {
      padding-left: 0;
      padding-right: 10px;
    }

    #block-search-form .btn-search {
      position: absolute;
      right: 34px;
    }
  }

  @media (min-width: 978px) and (max-width: 1199px) {
    .row {
      margin-left: -10px;
    }

    [class*="span"] {
      margin-left: 10px;
    }

    .container, .navbar-static-top
    .container, .navbar-fixed-top
    .container, .navbar-fixed-bottom
    .container {
      width: 950px
    }

    .span12 {
      width: 950px
    }

    .span11 {
      width: 870px
    }

    .span10 {
      width: 790px
    }

    .span9 {
      width: 710px
    }

    .span8 {
      width: 630px
    }

    .span7 {
      width: 550px
    }

    .span6 {
      width: 470px
    }

    .span5 {
      width: 390px
    }

    .span4 {
      width: 310px
    }

    .span3 {
      width: 230px
    }

    .span2 {
      width: 150px
    }

    .span1 {
      width: 70px
    }

    .front .content-wrapper {
      padding-left: 0;
      padding-right: 10px;
    }
  }

  @media (min-width: 768px) and (max-width: 979px) {
    .row {
      margin-left: -10px;
      *zoom: 1;
    }

    [class*="span"] {
      margin-left: 10px;
    }

    .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
      width: 734px;
    }

    .span12 {
      width: 734px;
    }

    .span11 {
      width: 672px;
    }

    .span10 {
      width: 610px;
    }

    .span9 {
      width: 548px;
    }

    .span8 {
      width: 486px;
    }

    .span7 {
      width: 424px;
    }

    .span6 {
      width: 362px;
    }

    .span5 {
      width: 300px;
    }

    .span4 {
      width: 238px;
    }

    .span3 {
      width: 176px;
    }

    .span2 {
      width: 114px;
    }

    .span1 {
      width: 52px;
    }

    .front .content-wrapper {
      padding-left: 0;
      padding-right: 10px;
    }
  }

  @media (max-width: 767px) {
    .footer-content .block {
      float: left;
      margin: 0;
      width: auto;
    }

    .nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
      font-size: 13px;
      color: #FFF;
    }

    .navbar .nav > li.first:nth-child(1) {
      background: none;
      text-indent: inherit;
      padding: 0;
      width: auto;
    }

    .navbar .nav > li.first a:hover {
      background: #1678CB;
      color: #EAF1F7;
    }
  }

  .theme-default .nivo-controlNav {
    padding: 10px 0;
  }

  .theme-default .nivoSlider {
    margin-bottom: 0;
  }

  .theme-default .nivo-caption {
    font-family: sans-serif, Arial, Helvetica;
  }

  #counter {
    color: #FFF;
  }

  .region-footer .content {
    text-align: center;
  }

  .page-sinhvien-hocphan .content-head .title {
    display: none;
  }

  .page-sinhvien-hocphan .content-body h1 {
    margin-top: 10px;
  }

  .page-sinhvien-hocphan .content-head .clearfix {
    margin-top: 10px
  }

  .front .content-body {
    padding: 10px;
  }

}
