@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  width: 90vw;
  margin: 4vw;
}

html::before {
  content: '';
  background-image: url("bg.png");
  opacity: 0.17;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

th, td {
  padding: 0.1em;
  border: 1px solid #ddd;
}

#schedule-table table thead tr th {
  background-color: #eee;
  text-align: center;
  width: 3%;
}

#schedule-table table tr {
  background: #ccc !important;
  border-bottom: 1px solid #ddd;
  background-color: transparent;
}

#schedule-table table tr td.lesson-center_bold {
  text-align: center;
  font-weight: bold;
}

.class-center_white {
  background-color: #fff;
  text-align: center;
  width: 230px;
}

.ref-link {
  display: inline-block;
  transition: transform .2s ease-out;
}
.ref-link .icon {
  transition: transform .2s ease-out;
}
.ref-link:hover .icon {
  transform: translateX(-2px) scale(1.1);
}
.ref-link:hover {
  transform: translateX(3px);
}

.update-date {
  position: absolute;
  right: 20px;
  top: 20px;
  transition: all .2s;
}
.update-date a {
  color: #777;
}
.update-date a:hover {
  text-decoration: none;
}
.update-date span:hover {
  color: #555;
}
.update-date:hover {
  text-shadow: 0 0 5px #0ff5;
}

.feedback {
  position: absolute;
  right: 20px;
  top: 40px;
  transition: all .4s ease-out;
}
.feedback:hover {
  transform: translateX(-2px);
}
.feedback i::before {
  transition: all .4s ease-out;
}
.feedback:hover i::before {
  display: inline-block;
  transform: scale(1.1);
}

